<!DOCTYPE html>
<html lang="en">

<head>
    <title>Avni's first Flask app</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="InpBruun">Bruun</a>
                    </li>
                    <li role="presentation"><a href="#">Link 2</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Avni's First Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>Bruun App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="InpBruun" role="button">Calculate!</a>
            </p>
        </div>

        <div class="row marketing">
            <h4>This is a test</h4>
            <p>So please be gentle. Nothing is supposed to work. Everything is made of glass.</p>
            <p>Using flask, a framework for a simple python script is built.</p>
        </div>

        <footer class="footer">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            <p>Avni 2016 - <a href="https://github.com/avnibu/RTRM-Flask">Github</a></p>
        </footer>

    </div>
</body>

</html>