<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bruun App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <script src="../static/js/jquery-2.2.0.min.js"></script>
    <script>

    $(function() {
        $('#btnCalcBruun').click(function() {

            $.ajax({
                url: '/CalcBruun',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    $('#CalcResult').html(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });

    </script>


    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Bruun</a></li>
            <li role="presentation"><a href="MatPlot">Matplot</a></li>
            <li role="presentation"><a href="https://github.com/avnibu/RTRM-Flask">Github</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Bruun App</h3>
      </div>

      <div class="jumbotron">

        <h2>Bruun's Erosion due to Sea Level Rise</h2>
        <p><small>Inspiration by Francisco Chaves</small></p>
        <img src="../static/BruunScheme.jpg" class="img-responsive" alt="Bruun Scheme">

        <!-- white space -->
        <div style="height:50px;"></div>

        <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Input Data</legend>

        <!-- Prepended text-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="SeaLevelRise">Sea Level Rise</label>
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon">S:</span>
              <input id="SeaLevelRise" name="SeaLevelRise" class="form-control" placeholder="Sea Level Rise [m]" type="text" required="">
            </div>

          </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="DepthofClosure">Depth of Closure</label>
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon">hc:</span>
              <input id="DepthofClosure" name="DepthofClosure" class="form-control" placeholder="Depth of Closure [m]" type="text" required="">
            </div>

          </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="BermHeight">Berm Height</label>
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon">B: </span>
              <input id="BermHeight" name="BermHeight" class="form-control" placeholder="Beach Berm Height (before SLR) [m]" type="text" required="">
            </div>

          </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="Extent">Extent of Active Zone</label>
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon">L:</span>
              <input id="Extent" name="Extent" class="form-control" placeholder="Extent of Active Beach Zone [m]" type="text" required="">
            </div>

          </div>
        </div>

        </fieldset>

        <button id="btnCalcBruun" class="btn btn-lg btn-primary btn-block" type="button">Calculate</button>

        </form>

        <!-- white space -->
        <div style="height:50px;"></div>

        <fieldset>
        <legend>Calculation Results</legend>
        <div id=CalcResult></div>
        </fiendset>

      </div>



      <footer class="footer">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        <p>Avni 2016 - <a href="https://github.com/avnibu/RTRM-Flask">Github</a></p>
      </footer>

    </div>
  </body>
</html>