<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bruun Sea Level Rise Calc App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/calcbruun.css" rel="stylesheet">

  </head>

  <body>

    <script src="../static/js/jquery-2.2.0.min.js"></script>
    <script>

    $(function() {
        $('#btnCalcBruun').click(function() {

            $.ajax({
                url: '/CalcBruun',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    $('#CalcResult').html(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });

    </script>


    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Bruun</a></li>
            <li role="presentation"><a href="#">Link 2</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Bruun App</h3>
      </div>

      <div class="jumbotron">

        <h1>Bruun App</h1>
        <img src="../static/BruunScheme.jpg" class="img-responsive" alt="Bruun Scheme">
        <form class="form-signin">
        <label for="SeaLevelRise" class="sr-only">S:</label>
        <input type="text" name="SeaLevelRise" id="SeaLevelRise" class="form-control" placeholder="S: Sea Level Rise [m]" required autofocus>
        <label for="DepthofClosure" class="sr-only">hc:</label>
        <input type="text" name="DepthofClosure" id="DepthofClosure" class="form-control" placeholder="hc: Depth of Closure [m]" required autofocus>
        <label for="BermHeight" class="sr-only">B:</label>
        <input type="text" name="BermHeight" id="BermHeight" class="form-control" placeholder="B: Beach berm height (before SLR) [m]" required autofocus>
        <label for="Extent" class="sr-only">L:</label>
        <input type="text" name="Extent" id="Extent" class="form-control" placeholder="L: Extent of the active zone [m]" required autofocus>
        <button id="btnCalcBruun" class="btn btn-lg btn-primary btn-block" type="button">Calculate</button>
        </form>

        <div id=CalcResult><h1>{{CalcResult}}</h1></div>

      </div>



      <footer class="footer">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        <p>Avni 2016</p>
      </footer>

    </div>
  </body>
</html>